<!--BOOTSTRAP CSS-->
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<!--PARENT-->
<div class="mt-5 ms-5">
	<!--TITLE-->
	<h1>TASK</h1>

	<!--FORM-->
	<form>
		<!--NAME-->
		<div class="mb-3">
			<label class="form-label">Name</label>
			<input type="text" style="width:20%" class="form-control">
			<div class="form-text">Call it whatever.</div>
		</div>

		<!--ESTIMATED TIME-->
		<div class="mb-3">
			<label class="form-label">Estimated Time</label>
			<input type="number" style="width:20%"class="form-control">
			<div class="form-text">Take as much time as you need.</div>
		</div>

		<!--ARCHIVE-->
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input">
			<label class="form-check-label" for="exampleCheck1">Archive?</label>
		</div>

		<!--SUBMIT-->
		<button type="submit" class="btn btn-dark">Submit</button>
	</form>
</div>
